extends layout

block content

	- var allCaps = function(str){
	-	return str.toUpperCase();
	- }

	- var capitalize = function(str){
	-	return str.charAt(0).toUpperCase() + str.slice(1);
	-}

	div.row
		div.container
			div.display.col-lg-4
				div.username
					h2 #{capitalize(user.username)}
				div.profileImage
					img(src='/images/#{user.username}.jpg')
			div.display.col-lg-4
				div.name
					h3 #{capitalize(user.fname)} #{capitalize(user.lname)}
				div.city
					h4 
						span.title City 
						| #{capitalize(user.city)}
				div.state
					h4 
						span.title State 
						| #{allCaps(user.state)}
				div.zipcode
					h4 
						span.title Zip Code 
						| #{user.zipcode}
					
			div.display.col-lg-4
