extends layout

block content

	- var allCaps = function(str){
	-	if(!str) return '';
	-	return str.toUpperCase();
	- }

	- var capitalize = function(str){
	-	if(!str) return '';
	-	return str.charAt(0).toUpperCase() + str.slice(1);
	-}
	

	div.column1.container
		div.display
			div.profileImage
				img(src="https://graph.facebook.com/"+ user.username +"/picture?width=200&height=200")
		div.display
			div.username
				h2 #{capitalize(user.username)}
	div.column2.container#profile-container
		div.display.profile-info(data-userid=user._id.toString() data-toggle="modal" data-target="#myModal")
			div.name
				h2 
					span.title Full Name
					span.editable-text.fname #{capitalize(user.firstname)} 
					span.editable-text.lname #{capitalize(user.lastname)}
			div.city
				h4 
					span.title City 
					span.editable-text.city #{capitalize(user.city)}
			div.state
				h4 
					span.title State 
					span.editable-text.state #{allCaps(user.state)}
			div.zipcode
				h4 
					span.title Zip Code 
					span.editable-text.zipcode #{user.zipcode}
			
	div.container
		<!-- Modal -->
		div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog.editUser
				div.modal-content
					div.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
						h4.modal-title#myModalLabel Profile Information
					div.modal-body
						form.editUserInfo
							div.form-field-group
								label.input-label First name: 
									input.form-field.firstname(type="text" name="firstname")
							div.form-field-group
								label.input-label Last name: 
									input.form-field.lastname(type="text" name="lastname")
							div.form-field-group
								label.input-label City: 
									input.form-field.city(type="text" name="city")
							div.form-field-group
								label.input-label State: 
									input.form-field.state(type="text" name="state")
							div.form-field-group
								label.input-label Zip Code: 
									input.form-field.zipcode(type="text" name="zipcode")
							input.form-field.userId(type="hidden" name="_id")	
					div.modal-footer
						button.closeButton(type="button" class="btn btn-default" data-dismiss="modal") Close
						button.submitButton(type="button" class="btn btn-primary") Save changes
	
		include profileTemplate.html
	
